## Ignore build results and temporary files.
BuildOutput
Backup*
_UpgradeReport_Files
[Bb]in
[Oo]bj

*.mdb
*.pdb
*.pidb
*.suo
*.user
*.userprefs
UpgradeLog*.*
/packages
TestResult.xml
*.Cache
*.db
project.lock.json
