## Ignore build results and temporary files.

Backup*
_UpgradeReport_Files
bin
obj

*.mdb
*.pdb
*.pidb
*.suo
*.user
*.userprefs
UpgradeLog*.*

.DS_Store
/websocket-sharp/.vs/websocket-sharp.NET6/FileContentIndex
