## Ignore build results and temporary files.

Backup*
_UpgradeReport_Files
bin
obj

*.mdb
*.pdb
*.pidb
*.suo
*.user
*.userprefs
UpgradeLog*.*

# JetBrains Rider
.idea/
*.sln.iml

##
## Visual Studio Code
##
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json