version: 2.0.{build}

branches:
  only:
    - master

image: Visual Studio 2017

 
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

configuration: Debug

before_build:
  - nuget restore
  
build:
  project: websocket-sharp.sln

after_build:
  - ps: .\nuget\pack.ps1
  
test: off

artifacts:
  - path: websocket-sharp\bin\Debug\net45\*.dll
  - path: websocket-sharp\bin\Debug\net45\*.pdb
  - path: '**\DotNetProjects.*.nupkg'

#uncomment to publish to NuGet
deploy:
  provider: NuGet
  api_key:
    secure: OrhpK2cLXXcoWW+hU6xAv3eeKIbATEFbenteoFsi9EfM1yyDof6ZuNKAsA3Vy6vb
  artifact: /.*\.nupkg/
  
  
  