<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-alpha" value="https://nuget.pkg.github.com/alphalab-hq/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-alpha>
      <add key="Username" value="alphalab-automation" />
      <add key="ClearTextPassword" value="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" />
    </github-alpha>
  </packageSourceCredentials>
</configuration>
