<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CertFilePassword" value="password"/>
    <add key="ServerCertFile" value="/path/to/cert.pfx"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
