commands:
  01_default_website_disable:
    test: cmd /c "if exist C:\\Users\\Public\\initialized (exit 1) else (exit 0)"
    command: C:\Windows\System32\inetsrv\appcmd.exe set config "Default Web Site" -section:system.webServer/httpLogging /dontLog:"True" /commit:apphost
    ignoreErrors: true
  02_install_websockets_feature:
    test: cmd /c "if exist C:\\Users\\Public\\initialized (exit 1) else (exit 0)"
    command: C:\Windows\system32\DISM.EXE /enable-feature /online /featureName:"IIS-WebSockets"
    ignoreErrors: true
  03_setting_firewall_for_websocket_port:
    test: cmd /c "if exist C:\\Users\\Public\\initialized (exit 1) else (exit 0)"
    command: netsh advfirewall firewall add rule name="World Wide Web Socket Port" dir=in action=allow protocol=TCP localport=8000
    ignoreErrors: true
  04_initializing:
    test: cmd /c "if exist C:\\Users\\Public\\initialized (exit 1) else (exit 0)"
    command: copy NUL C:\\Users\\Public\\initialized
